body{
    display: grid;
    place-content: center;
    padding: 20px;
   
}
.pokemon-card{
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 6px 20px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 450px;
   text-align: center;
}
.pokemon-image {
    max-width: 400px;        
    border-radius: 10px;    
    padding: 15px;
}
.pokemon-info {
    background-color: lightgreen;
    border: 15px;
    padding: 20px;
}
.pokemon-name{
    font: oblique bold 110% cursive;
    color: blue;
    font-size: 40px;

}
.pokemon-type{
    
}
.pokemon-description{
    font-size: 20px;
    color: grey;
}